.elementor .elementor-element-8f1f988 {
  display: none;
}
.main-header-menu > .menu-item > .menu-link {
  color: #000000;
  font-weight: 500;
  text-align: left;
  text-shadow: none;
}
.elementor .elementor-element-1e1ddfe .elementor-posts-container .elementor-post__excerpt p {
  text-align: left;
}
.elementor-42 .elementor-element.elementor-element-8a1f775 .elementor-post__title {
  text-align: left;
}
.elementor-99 .elementor-element.elementor-element-95dd000 > .elementor-background-overlay {
  display: none;
}
.elementor .elementor-element-95dd000 {
  display: none;
}
.elementor .elementor-element-704e799d {
  margin: 0 !important;
}
.elementor .elementor-element-704e799d .elementor-widget-wrap {
  padding-top: 0;
}
.elementor-721 .elementor-element.elementor-element-553372c4 {
  background-repeat: no-repeat;
  background-size: cover;
}
.um-97.um .um-profile-body {
  text-align: center;
}
.um-item-link i {
  display: none;
}
.um-item-img a {
  width: 100%;
  display: block;
  height: 100%;
  text-align: center;
}
.um-item-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.um-item-link a {
  font-size: 25px;
  letter-spacing: 1.25px;
}
